
@media only screen and (max-width: 5000px) and (min-width: 768px){
    
/* -----********** Mobile-Navbar Start **********----- */
    #mobile-navbar{
        display: none;
    }
/* -----********** Mobile-Navbar End **********----- */
}

@media only screen and (max-width: 1400px) and (min-width: 1200px){

/* -----********** Slider Start **********----- */
    #slider .carousel-item img{
        width: 100%;
        height: 500px;
    }
    #slider .carousel-caption{
        bottom: 150px;
    }
    #slider .carousel-caption h5{
        font-size: 50px;
    }
    #slider .carousel-caption p{
        font-size: 18px;
        width: 55%;
    }
/* -----********** Slider End **********----- */
}

@media only screen and (max-width: 1199px) and (min-width: 992px){

/* -----********** Slider Start **********----- */
    #slider .carousel-item img{
        width: 100%;
        height: 500px;
    }
    #slider .carousel-caption{
        bottom: 150px;
    }
    #slider .carousel-caption h5{
        font-size: 50px;
    }
    #slider .carousel-caption p{
        font-size: 18px;
        width: 55%;
    }
/* -----********** Slider End **********----- */


/* -----********** Services Start **********----- */
    #services .service-card-1,
    #services .service-card-2,
    #services .service-card-3,
    #services .service-card-4,
    #services .service-card-5,
    #services .service-card-6{
        width: 80%;
    }
/* -----********** Services End **********----- */
}

@media only screen and (max-width: 991px) and (min-width: 768px){
    
/* -----********** Header Start **********----- */
    #header .logo img{
        width: 60%;
    }
    #header .mail-icon{
        text-align: center;
    }
    #header .mail-icon a p,
    #header .mail-icon a span.text-1{
        display: none;
    }
    #header .mail-icon span.text-2:after{
        content:"\A Mail Us ";
        white-space: pre;
    }

    #header .location-icon img{
        width: 16px;
    }
    #header .location-icon{
        text-align: center;
    }
    #header .location-icon a p,
    #header .location-icon a span.text-1{
        display: none;
    }
    #header .location-icon span.text-2:after{
        content:"\A Our Location ";
        white-space: pre;
    }
/* -----********** Header End **********----- */


/* -----********** Slider Start **********----- */
    #slider .carousel-item img{
        width: 100%;
        height: 500px;
    }
    #slider .carousel-caption{
        left: 10%;
        right: 10%;
        bottom: 170px;
    }
    #slider .carousel-caption h5{
        font-size: 40px;
    }
    #slider .carousel-caption p{
        font-size: 18px;
        width: 75%;
    }
/* -----********** Slider End **********----- */


/* -----********** Services Start **********----- */
    #services .service-card-1,
    #services .service-card-2,
    #services .service-card-3,
    #services .service-card-4,
    #services .service-card-5,
    #services .service-card-6{
        width: 80%;
    }
    #services .service-card-1 .service-img img,
    #services .service-card-2 .service-img img,
    #services .service-card-3 .service-img img,
    #services .service-card-4 .service-img img,
    #services .service-card-5 .service-img img,
    #services .service-card-6 .service-img img{
        width: 35%;
    }
/* -----********** Services End **********----- */


/* -----********** about Start **********----- */
    #about{
        padding: 30px 0;
    }
    
    #about .about-img{
        margin: 0 auto 30px auto;
    }    
    #about .about-img img{
        width: 70%;
    }

    #about .about-text h4,
    #about .about-text p{
        text-align: center;
    }
/* -----********** about End **********----- */


/* -----********** Price Start **********----- */
#prices .price-card .card-1 .img,
#prices .price-card .card-1 .img img,
#prices .price-card .card-2 .img,
#prices .price-card .card-2 .img img,
#prices .price-card .card-3 .img,
#prices .price-card .card-3 .img img,
#prices .price-card .card-4 .img,
#prices .price-card .card-4 .img img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
#prices .price-card .card-1 .text,
#prices .price-card .card-2 .text,
#prices .price-card .card-3 .text,
#prices .price-card .card-4 .text{
    text-align: center;
    border-radius: 0 0 20px 20px;
    padding: 30px 0;
}
#prices .price-card .card-1 .text h5,
#prices .price-card .card-2 .text h5,
#prices .price-card .card-3 .text h5,
#prices .price-card .card-4 .text h5{
    margin: 0 0 20px 0 !important;
}
#prices .price-card .card-1 .text p,
#prices .price-card .card-2 .text p,
#prices .price-card .card-3 .text p,
#prices .price-card .card-4 .text p{
    margin: 0 0 10px 0 !important;
}
#prices .price-card .card-1 .text button,
#prices .price-card .card-2 .text button,
#prices .price-card .card-3 .text button,
#prices .price-card .card-4 .text button{
    margin-top: 20px;
}
/* -----********** Price End **********----- */


/* -----********** Footer Start **********----- */
#footer .logo{
    text-align: center;
}
#footer .logo img{
    width: 70%;
}
/* -----********** Footer End **********----- */
}

@media only screen and (max-width: 767px) and (min-width: 576px){
    
/* -----********** Header Start **********----- */
    #header{
        display: none;
    }
/* -----********** Header End **********----- */


/* -----********** Navbar Start **********----- */
    #navbar{
        display: none;
    }
/* -----********** Navbar End **********----- */


/* -----********** Mobile-Navbar Start **********----- */
    #mobile-navbar{
        padding: 20px 0;
        color: #fff;
        background-color: #2e375f;
    }
    #mobile-navbar .logo img{
        width: 70%;
    }
    #mobile-navbar .humbugger{
        display: flex;
        justify-content: end;
    }
    #mobile-navbar .humbugger i{
        font-size: 28px;
    }

    .offcanvas{
        color: #fff;
        background-color: #2e375f;
    }
    .offcanvas .offcanvas-header img{
        width: 70%;
    }
    .offcanvas .offcanvas-header i{
        font-size: 24px;
        color: #fff !important;
    }
    .offcanvas .nav-item:after{
        display:block;
        content: '';
        transition: all ease-in-out 0.3s;
        margin-bottom: 0px;
        border-bottom: solid 3px #F2184F;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }
    .offcanvas .nav-item:hover:after{
        transform: scaleX(1);
        border-bottom: 3px solid #F2184F;
    }
    .offcanvas .btn-close{
        background: transparent url(../images/close.png) center/1em auto no-repeat;
        opacity: 1;
    }
    .offcanvas .nav-link{
        color: #fff;
        transition: all ease-in-out 0.3s;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
    }
    .offcanvas .nav-link:hover{
        color: #F2184F;
    }
/* -----********** Mobile-Navbar End **********----- */


/* -----********** Slider Start **********----- */
    #slider .carousel-item img{
        width: 100%;
        height: 500px;
    }
    #slider .carousel-caption{
        left: 5%;
        right: 5%;
        bottom: 180px;
    }
    #slider .carousel-caption h5{
        font-size: 30px;
    }
    #slider .carousel-caption p{
        font-size: 16px;
        width: 70%;
    }
/* -----********** Slider End **********----- */


/* -----********** Services Start **********----- */
    #services .service-card-1,
    #services .service-card-2,
    #services .service-card-3,
    #services .service-card-4,
    #services .service-card-5,
    #services .service-card-6{
        width: 90%;
        border-radius: 20px;
        padding: 30px;
    }
    #services .service-card-1 .service-img img,
    #services .service-card-2 .service-img img,
    #services .service-card-3 .service-img img,
    #services .service-card-4 .service-img img,
    #services .service-card-5 .service-img img,
    #services .service-card-6 .service-img img{
        width: 35%;
    }
/* -----********** Services End **********----- */


/* -----********** about Start **********----- */
    #about{
        padding: 30px 0;
    }

    #about .about-img{
        margin: 0 auto 30px auto;
    }    
    #about .about-img img{
        width: 80%;
    }

    #about .about-text h4,
    #about .about-text p{
        text-align: center;
    }
/* -----********** about End **********----- */


/* -----********** Price Start **********----- */
    #prices .price-card .card-1 .img,
    #prices .price-card .card-1 .img img,
    #prices .price-card .card-2 .img,
    #prices .price-card .card-2 .img img,
    #prices .price-card .card-3 .img,
    #prices .price-card .card-3 .img img,
    #prices .price-card .card-4 .img,
    #prices .price-card .card-4 .img img{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    #prices .price-card .card-1 .text,
    #prices .price-card .card-2 .text,
    #prices .price-card .card-3 .text,
    #prices .price-card .card-4 .text{
        text-align: center;
        border-radius: 0 0 20px 20px;
        padding: 30px 0;
    }
    #prices .price-card .card-1 .text h5,
    #prices .price-card .card-2 .text h5,
    #prices .price-card .card-3 .text h5,
    #prices .price-card .card-4 .text h5{
        margin: 0 0 20px 0 !important;
    }
    #prices .price-card .card-1 .text p,
    #prices .price-card .card-2 .text p,
    #prices .price-card .card-3 .text p,
    #prices .price-card .card-4 .text p{
        margin: 0 0 10px 0 !important;
    }
    #prices .price-card .card-1 .text button,
    #prices .price-card .card-2 .text button,
    #prices .price-card .card-3 .text button,
    #prices .price-card .card-4 .text button{
        margin-top: 20px;
    }
/* -----********** Price End **********----- */
}

@media only screen and (max-width: 575px){
    
/* -----********** Header Start **********----- */
    #header{
        display: none;
    }
/* -----********** Header End **********----- */


/* -----********** Navbar Start **********----- */
    #navbar{
        display: none;
    }
/* -----********** Navbar End **********----- */


/* -----********** Mobile-Navbar Start **********----- */
    #mobile-navbar{
        padding: 20px 0;
        color: #fff;
        background-color: #2e375f;
    }
    #mobile-navbar .logo img{
        width: 70%;
    }
    #mobile-navbar .humbugger{
        display: flex;
        justify-content: end;
    }
    #mobile-navbar .humbugger i{
        font-size: 28px;
    }

    .offcanvas{
        color: #fff;
        background-color: #2e375f;
    }
    .offcanvas .offcanvas-header img{
        width: 70%;
    }
    .offcanvas .offcanvas-header i{
        font-size: 24px;
        color: #fff !important;
    }
    .offcanvas .nav-item:after{
        display:block;
        content: '';
        transition: all ease-in-out 0.3s;
        margin-bottom: 0px;
        border-bottom: solid 3px #F2184F;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }
    .offcanvas .nav-item:hover:after{
        transform: scaleX(1);
        border-bottom: 3px solid #F2184F;
    }
    .offcanvas .btn-close{
        background: transparent url(../images/close.png) center/1em auto no-repeat;
        opacity: 1;
    }
    .offcanvas .nav-link{
        color: #fff;
        transition: all ease-in-out 0.3s;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
    }
    .offcanvas .nav-link:hover{
        color: #F2184F;
    }
/* -----********** Mobile-Navbar End **********----- */


/* -----********** Slider Start **********----- */
    #slider .carousel-item img{
        width: 100%;
        height: 500px;
    }
    #slider .carousel-caption{
        left: 2%;
        right: 2%;
        bottom: 150px;
    }
    #slider .carousel-caption h5{
        font-size: 24px;
    }
    #slider .carousel-caption p{
        font-size: 16px;
        width: 100%;
    }
/* -----********** Slider End **********----- */


/* -----********** Services Start **********----- */
    #services .service-card-1,
    #services .service-card-2,
    #services .service-card-3,
    #services .service-card-4,
    #services .service-card-5,
    #services .service-card-6{
        width: 95%;
        border-radius: 20px;
        padding: 30px;
    }
    #services .service-card-1 .service-img img,
    #services .service-card-2 .service-img img,
    #services .service-card-3 .service-img img,
    #services .service-card-4 .service-img img,
    #services .service-card-5 .service-img img,
    #services .service-card-6 .service-img img{
        width: 25%;
    }
/* -----********** Services End **********----- */


/* -----********** about Start **********----- */
    #about{
        padding: 30px 0;
    }  

    #about .about-img{
        margin: 0 auto 30px auto;
    }    
    #about .about-img img{
        width: 95%;
    }

    #about .about-text h4,
    #about .about-text p{
        text-align: center;
    }
/* -----********** about End **********----- */


/* -----********** Price Start **********----- */
    #prices .price-card .card-1 .img,
    #prices .price-card .card-1 .img img,
    #prices .price-card .card-2 .img,
    #prices .price-card .card-2 .img img,
    #prices .price-card .card-3 .img,
    #prices .price-card .card-3 .img img,
    #prices .price-card .card-4 .img,
    #prices .price-card .card-4 .img img{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    #prices .price-card .card-1 .text,
    #prices .price-card .card-2 .text,
    #prices .price-card .card-3 .text,
    #prices .price-card .card-4 .text{
        text-align: center;
        border-radius: 0 0 20px 20px;
        padding: 30px 0;
    }
    #prices .price-card .card-1 .text h5,
    #prices .price-card .card-2 .text h5,
    #prices .price-card .card-3 .text h5,
    #prices .price-card .card-4 .text h5{
        margin: 0 0 20px 0 !important;
    }
    #prices .price-card .card-1 .text p,
    #prices .price-card .card-2 .text p,
    #prices .price-card .card-3 .text p,
    #prices .price-card .card-4 .text p{
        margin: 0 0 10px 0 !important;
    }
    #prices .price-card .card-1 .text button,
    #prices .price-card .card-2 .text button,
    #prices .price-card .card-3 .text button,
    #prices .price-card .card-4 .text button{
        margin-top: 20px;
    }
/* -----********** Price End **********----- */


/* -----********** Teams Start **********----- */
    #teams .team-card-1 .text h5,
    #teams .team-card-2 .text h5,
    #teams .team-card-3 .text h5,
    #teams .team-card-4 .text h5{
        font-size: 18px;
    }
/* -----********** Teams End **********----- */


/* -----********** Contact Start **********----- */
    #contact .links .mail span a,
    #contact .links .facebook span a,
    #contact .links .twitter span a,
    #contact .links .phone span a{
        font-size: 14px;
    }

    #contact .links .phone{
        margin-bottom: 48px;
        padding: 10px 0 10px 15px;
        background-color: #e4e0e0;
    }
/* -----********** Contact End **********----- */


/* -----********** Testimonial Start **********----- */
    #testimonials{
        padding: 30px 0 30px 0;
        background-image: url("/images/testimonial-bg_mob.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
/* -----********** Testimonial End **********----- */
}
